body{
    color:black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white url(../img/rio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container{
    width:80%;
    background-color:white;
    margin-left: 10%;
}

.mainav{
    background-color: olive;
}

.mainav li {
    display: inline;
    padding: 5%;
}

.mainav li a{
    text-decoration: none;
    font-size: 14px;
    color:white;
}

.mainav li a:hover, a:active{
    text-decoration: none;
    color: white;
    background-color: #271900;
}

.content{
    width: 64%;
    float: left;
    background-color: white;
    font-size: 90%;
    padding-left: 3%;
    padding-right: 3%;
}

.content p{
    text-align: justify;
    
}

.mainleft{
    float:right;
    width: 30%;
   
}

.footer{
    clear: both;
    font-size: 14px;
    color:white;
    background-color: olive;
}

.contentp{
    width: 100%;
    background-color: white;
    font-size: 90%;
    padding-left: 3%;
    padding-right: 3%;
}



