body{
    color:black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width:80%;
    background-color:white;
    margin-left: 10%;
}

.mainav{
    background-color: olive;
    color:darkred;
}

.mainav li {
    display: inline;
    padding: 5%;
}

.mainav li a{
    text-decoration: none;
    font-size: 14px;
    color:white;
}




